.page {
    border: 4px green dashed;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.top {
    border: 4px green dashed;
    font-size: 50px;
    color: black;
}

.middle {
    border: 4px green dashed;
    display: flex;
    padding: 20px 40px;
    gap: 100px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.you {
    border: 4px green dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
}

.options {
    border: 4px green dashed;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.comparison {
    border: 4px green dashed;
}

.cpu {
    border: 4px green dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.selection {
    border: 4px red dashed;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    border: 4px green dashed;
    font-size: 30px;
    
}

